# ==========================================================
# .gitignore – NÃO IGNORAR NADA
# Todos os arquivos e pastas serão rastreados pelo Git
# ==========================================================
